.iconos {
  font-size: 30px;
  margin-top: -15px;
  padding: 30px;
}

.icon {
  color: #f6f8f7;
  margin: 0 8px;
}

.footer {
  background-color: rgb(67, 66, 66);
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
}

.copy {
  color: white;
  font-size: 20px;
  position: right;
  margin-top: 15px;
}
