// Specific CSS for your home-page
.card-body1 {
  font-size: 20px;
}

/* .card {
  box-shadow: 10px 11px 17px 5px rgba(0,0,0,0.91);
  -webkit-box-shadow: 10px 11px 17px 5px rgba(0,0,0,0.91);
  -moz-box-shadow: 10px 11px 17px 5px rgba(0,0,0,0.91);
  background-color: rgb(237, 237, 237);
  opacity: 95%;
} */

.pets {
  float: right;
  margin-left: 0px;
}

.card-footer {
  background-color: rgb(194, 194, 194);
  gap: 100px;
}

.ppaws {
  font-weight: 400;
  font-size: 20px;
}

p {
  font-weight: 150;
}

.card-text {
  font-size: 25px;
}
