// Specific CSS for your home-page
.body {
  background-image: url(https://thumbs.dreamstime.com/b/modelo-incons%C3%BAtil-de-la-cl%C3%ADnica-veterinaria-124775629.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-body1 {
  font-size: 20px;
}
