.textcard {
  color: black;
  font-weight: bold;
  margin-top: -200px;
}

.textcardvet {
  color: black;
  font-weight: bold;
  margin-top: -200px;
  margin-left: 40px;
}

.form-actions {
  color: white;
}

.vistalog {
  text-align: center;
  align-items: center;
  border: solid;
  border-color: black;
}


.login {
  margin-left: 10px;
}

.login-card-link {
  text-decoration: none;
  color: black;
  transition: 0.5s linear;
}

.login-card-link:hover {
  color: black;
  opacity: 0.5;
  transform: scale(1.1);
}

.login-card {
  height: 200px;
  width: 200px;

  border: 3px solid black;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background-size: cover;
  background-position: center;

  transition: 0.5s linear;
  font-weight: bold;

}

.vet-login {
  background-image: url(vet-login2.png);
}

.owner-login {
  background-image: url(owner-login2.png);
}

.login-card:hover {
  transform: scale(1.1);
}

.btn {
  color: white;
}
