.show-pet-container {
  border-left: 2px solid white;
  width: 100%;
  align-items: center;
}

.show-pet-img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
}

.show-pet-info-content {
  width: 100%;
}

.show-pet-title {
  font-weight: bold;
  font-size: 36px;
}

.pet-info-container {
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: 18px;
  color: #282A3A;

  margin-top: 16px;
  width: 80%;
}

.show-pet-info {
  margin-bottom: 8px;
  border-bottom: dashed;

  .last-item {
    margin-bottom: 0;
  }
}

.show-pet-btn-group  {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
  // background-color: aqua;
  // border: 1px solid black;
}

.show-pet-btn-group button {
  background-color: var(--forth-color);
  color: var(--sixth-color);
  padding: 10px 24px;
  float: left;
  width: 50%;
  text-align: center;

  border: none;

  transition: 0.4s;
}

.show-pet-btn-group button:not(:last-child) {
  border-right: 1px solid #282A3A;
}

.show-pet-btn-group button:hover {
  background-color: var(--fifth-color);
}

.owner-pet-show-icon {
  color: red;
  border: none;
  background: none;
  transition: 0.4s;
  margin-bottom: 7px;
  // padding: 0;
  align-self: center;
}

.owner-pet-show-icon:hover {
  opacity: 50%;
}
