.sign-up-img {
  height: 550px;
}

// Hide all steps by default
.step {
  display: none;
}

// Hide Atras button by default
#prevBtn {
  display: none;
}

// Hide submit bottom by default

#signupBtn {
  display: none;
}

.container-signup {
  margin-left: 10px;
  margin-top: 50px;
}

.imgcangu {
  margin-top: -50px;
}
