.sign-up-img {
  height: 550px;
}

// Hide all steps by default
.step {
  display: none;
}

// Hide Atras button by default
#prevBtn {
  display: none;
}

// Hide submit bottom by default
.form-actions {
  display: none;
}

#signupBtn {
  display: none;
}
