<div class="container-signup">
 <div class="row col-11">
    <div class="col-4">
      <h2>Forgot your password?</h2>
      <div>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs mb-2 col-md-6 col-lg-9 m-1">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>
          <div class="form-actions btn btn-primary">
            <%= f.button :submit, "Send me reset password instructions" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="imgcangu col-7 mr-12">
      <img src="https://i.postimg.cc/htfnQBwG/pensando-removebg-preview.png">
    </div>
  </div>
</div>
