      <footer class="footer">
        <div class="copy"><p>Copyright &copy; FourPows 2023</p>
          <div class="iconos">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook icon"></i></a>
            <a href="https://www.twitter.com"><i class="fa-brands fa-twitter icon"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram icon"></i></a>
          </div>
        </div>
      </footer>
