<body class= "body">
    <!-- Responsive navbar-->
    <%# <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">ICONO 4PAWS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
                </ul>
            </div>
        </div>
    </nav> %>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="homeimg col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://i.postimg.cc/8Pvh2sph/1610061974-FOUR-PAWS-1.png" alt="..." /></div>
            <div class="col-lg-5">
              <h1 class="font-weight-light">¿Que es four pows?</h1>
                <p>FourPows nace con la finalidad de contar con toda la historia clinica de tu mascote en un solo lugar. Esto permitira tener todos los detalles al alcance de tu mano, como asi tambien la posibilidad de ofrecerle a la veterinaria que desees la informacion de tu mascota.</p>
                <a class="btn btn-primary" href="#!">Sabes mas</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-black my-5 py-4 text-center">
            <div class="card-body1"><p class="text-white m-0">Darse de alta en FourPaws requiere de 3 simples pasos </p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Paso 1</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Paso 2</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Paso 3</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
      <footer class="footer">
          <div class="iconos">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook icon"></i></a>
            <a href="https://www.twitter.com"><i class="fa-brands fa-twitter icon"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram icon"></i></a>
          </div>
          <div class="copy"><p>Copyright &copy; FourPows 2023</p></div>
      </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
