<div>
  <div class="row">
    <div class="flex-column">
      <div>perfil</div>
      <div class="my-5" >boton</div>
      <div class="my-5" >boton</div>
      <div class="my-5" >boton</div>
      <div class="my-5" >boton</div>
    </div>
    <div class="col-10">
      Aquí el resto
    </div>
  </div>
</div>
