

.pet-show-avatar {
  padding: 5px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  width: 150px; /* Ancho de la imagen */
  height: 150px; /* Altura de la imagen */
  object-fit: cover; /* Ajusta la imagen al tamaño especificado */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.pet-show-img {
  padding: 5px;
  width: 150px; /* Ancho de la imagen */
  height: 150px; /* Altura de la imagen */
  object-fit: cover; /* Ajusta la imagen al tamaño especificado */
  margin-left: 100px;
}
.section1 {
  list-style: none;
  text-align: center;
  padding: 0;
}

.section1 li {
  display: inline-block;
  margin: 5px;
}
.button1{
  background-color: var(--primary-color); /* Color de fondo */
  color: white; /* Color del texto */
  padding: 14px 20px; /* Espaciado interno */
  margin: 8px 0; /* Espaciado externo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor en forma de mano */
  width: 100%; /* Ancho completo */
  font-size: 18px; /* Tamaño de la fuente */
  border-radius: 10px;
}

.button1:hover {
  color: rgb(38, 0, 255);
  background-color: rgb(189, 189, 189);
  //border: 1px solid blue;
}

.button1:focus {
  color: blue;
  background-color: rgb(189, 189, 189);
  border-bottom: 2px solid black;
}

p {
  padding: 5px;
  font-size: 18px; /* Tamaño de la fuente */
  line-height: 1.5; /* Espaciado entre líneas */
  font-family: Arial, sans-serif; /* Fuente */
  color: #333; /* Color del texto */
  text-align: justify; /* Alineación del texto */
  margin-bottom: 1em; /* Espaciado debajo del párrafo */
}

.button2{
  background-color: var(--primary-color); /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  padding: 14px 20px; /* Espaciado interno */
  margin-bottom: 10px;
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor en forma de mano */
  font-size: 18px; /* Tamaño de la fuente */
  border-radius: 10px;
  float: right;
}

.button2:hover {
  color: rgb(38, 0, 255);
  background-color: rgb(189, 189, 189);
  //border: 1px solid blue;
}
.infopet p {
  color: black;
}

.card img {
 border-bottom: solid 1px black;
}

.pet-body p {
  color: black;
  text-align: left
}

.verinfo {
  margin-top: -4px;
}

.verinfo:hover {
  color: rgb(38, 0, 255);
  background-color: rgb(189, 189, 189);
}

.card {
  background: transparent;
  // border-radius: 35px 35px 0px 0px;
  // -moz-border-radius: 35px 35px 0px 0px;
  // -webkit-border-radius: 35px 35px 0px 0px;
  border: 2px solid #000000;
  // -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  // box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

// .card h4, h5, h2, p, img{
//   margin-left: 20px;
// }

.cardfield {
  margin-left: 20px;
}
