<h1>Elige la Mascota que quieres atender</h1>
<div class="my-4 p-2 rounded-pill border border-2" style="background-color: var(--primary-color);">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand text-white">Buscador de mascotas</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</div>
<div class="d-flex gap-5">
  <% @pets.each do |pet| %>
    <%= link_to new_pet_record_path(pet) do %>
      <div class="card shadow" style="width: 200px;">
        <%= image_tag "owner-login" %>
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
          <p>Dueño: <%= pet.owner.name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
