<div class="container text-center">
  <h2 class="card-title" style="margin: 40px auto;">Elige un veterinario</h2>
  <div class="vets_container">
    <% @veterinary.vets.each do |vet| %>
      <%= link_to new_appointment_path(vet_id: vet.id) do %>
        <div class="card shadow">
          <%= cl_image_tag vet.photo.key, height: 220, width: 220, style: "object-fit: cover;"%>
          <div class="card-body">
            <h5 class="card-title"><%= vet.name %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
