.navbar-lewagon {
  justify-content: space-between;
  background: rgb(66, 66, 66);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin: -15px;
}

.nav-link {
  color: white;
}

.navbar {
  padding: 0px;
  opacity: 0.9;
}
